/* all styles */

html {
  font-size: 20px;
  margin: 0;
}

body, html {
 background: url("a.jpg");
 background-repeat: no-repeat;
 max-width: 100%;
 background-size:cover;
}

.App {
  background-color: rgba(5, 18, 29, 0.559);
}

.App h1 {
  text-align: center;
  margin: 0;
  font-size: 3rem;
  color: #ffe4c4;
}

@media only screen and (max-width: 768px) {
  .App {
    background-color: rgba(5, 18, 29, 0.533);    
    margin: 0 auto;
    width: 80%;
    font-size: 0.8rem;
    
  }
}