.BusinessListContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  
}
hr {
  color: #ffe4c4;
}
 
@media only screen and (max-width: 850px) {
  .BusinessListContainer {
   background-color: rgba(5, 18, 29, 0.559);
   width: 100%;
    min-width: 70%;
    margin: 0 auto;
    border-radius: 0%;
    justify-content: center;
  }
}
