.SearchBar {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column-reverse;
  align-items: center;
  /* max-width: 100%;
 background-size:cover; */
  /* background: url("a.jpg");
 background-repeat: no-repeat; */
  height: 12rem;
  color: white;
}

.filteredSearch {
}
.filteredSearch ul {
  padding: 0;
  display: flex;
}
.filteredSearch li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.searchBarInputs {
  display: flex;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  height: 40px;
  background-color: #fff;
  border-radius: 20px;
  padding: 5px 10px;
}
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  height: 40px;
  background-color: #fff;
  border-radius: 20px;
  padding: 5px 10px;
}

#searchButton {
  border: none;
  background-color: #ffe4c4;
  color: #090909;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
  padding: 5px 10px;
}
#searchButton img {
  width: 20px;
  height: 20px;
  
}
